pysam~=0.22.0  # For VCF file handling

# Development dependencies
pytest~=8.3.0  # For running tests

# Build dependencies
setuptools>=75.6.0

# Only required for the --parquet feature...
pandas~=2.2.0  # Required for data processing
pyarrow~=18.0.0  # Used for efficient data storage

PyYAML>=6.0.2