version: '3.8'

services:
  vcfstash:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: vcfstash:latest  # This line names your image
    volumes:
      - ${REFERENCE_DIR:-./reference}:/reference:ro
      - ${DATA_DIR:-./data}:/data
      - ${CACHE_DIR:-./cache}:/cache
    environment:
      - REFERENCE_PATH=/reference
    # This container will stop after running the command
    # Use "docker-compose run" to execute specific commands
    command: ["--help"]  # Now this is passed as an argument to the entrypoint

volumes:
  cache:
    driver: local